{% extends '../base.html.twig' %}

{% block title %}Search Statistics{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h2>Search Statistics</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5>Total Searches</h5>
                            <p class="display-4">{{ stats.total_searches }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5>Average Time</h5>
                            <p class="display-4">{{ stats.avg_execution_time|number_format(3) }}s</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <h5>Average Results</h5>
                            <p class="display-4">{{ stats.avg_results|number_format(1) }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}